// Theme Variables

$bg-color: #222;
$headline-prim: #58e1c1;
$headline-sec: #777;
$link: #51ddfc;
$border: $headline-prim;
$regfontwt: 300;
$brdrradius: 5px;
$navhover: #fff;

// Media Query Breakpoints

$breakpoint: 768px;

// Font Variables

$fontflow: 'Lato', sans-serif;